body{
	overflow-x: hidden;
}
header{
	overflow-x: hidden;
}
main{
	min-height: 100vh;
	background-color: #1A3344;
	margin: 0;
	overflow-x: hidden;
}
footer{
	background-color: #111;
	color: white;
	padding: 4em 0.5em;
	text-align: center;
	font-size: 1.4em;
	font-family: 'Iceland', sans-serif;
	overflow-x: hidden;
}
.footer-col{
	margin-bottom: 0.8em;
}
.footer-link:hover{
	color: #00ABFF !important;
	border-radius: 50%;
	animation: pulse 1.5s infinite;
}
@keyframes pulse{
   0% {
    box-shadow: 0 0 0 0 rgba(0,255,128, 0.9);
  }
  75% {
    box-shadow: 0 0 10px 16px rgba(255,255,255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
nav {
	font-family: 'Iceland', sans-serif;
	text-transform: uppercase;
}
nav a:hover{
	color: #FFF !important;
}
.fullscreen-image{
	height: 100vh !important;
	min-width: 100vw !important;
	width: auto !important;
}
.carousel-content{
	position: absolute;
	text-align: center;
	margin-left: auto;
	text-align: center;
	z-index: 10;
	color: #FFF;
	width: 100%;
	font-size: 10em;
	height: 100vh;
	top: 15%;
	text-shadow: 0 1px 10px #000;
	font-family: 'Marcellus SC', serif;
	font-weight: bolder;
}
.text-black{
	color: #000 !important;
}
.bg-none{
	background-color: rgba(0,0,0,0) !important;
}
.bg-faded-blue{
	background-color: #255381;
}
.bg-black{
	background-color: #000 !important;
}
.bg-light-blue-1{
	background-color: #D5F2FF !important;
}
.bg-card-gradient{
	background: linear-gradient(to bottom, #06B1FA ,#6BD1FD, #80FF72) !important;
	background-color: #6BD1FD;
}
.box-shadow-1{
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.25), 0 6px 30px 5px rgba(0, 0, 0, 0.3), 0 8px 12px -5px rgba(0, 0, 0, 0.5);
}
.parallax{
	width: 100%;
	height: 20em;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-image{
	width: 100vw;
	padding-top: 3.9em;
}
hr.fancy {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
    border-radius: 20px;
}
hr.fancy:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 2px 0;
    border-radius: 20px;
}
.h-v100{
	min-height: 100vh !important;
}
.first-letter-uppercase{
	text-transform: capitalize;
}
.img-desc-icon{
	height: 5em;
	width: auto;
	margin-left: 2em; 
}
.img-icon{
	height: 2em;
	width: auto;
}
.bg-clash-1{
	background-image: url('../images/cardinfobg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg-clash-2{
	background-image: url('../images/cardinfobg2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg-clash-3{
	background-image: url('../images/cardinfobg3.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}
.bg-clash-4{
	background-image: url('../images/cardinfobg4.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}
.bg-black-overlay{
	background-color: rgba(0, 0, 0, 0.55) !important;
}
@media screen and (max-width: 976px){
	.carousel-content{
		font-size: 8em;
	}
}
@media screen and (max-width: 500px){
	.carousel-content{
		font-size: 4em;
	}
	.display-3{
		font-size: 3rem !important;
	}
}